.panel {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin-top: 2%;
}

.space {
    display: flex;
    flex-direction: column;
    color: white; 
}

.mostrar{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 65vh;
    width: 84vmax;
    color: white;
    justify-content: center;
}