<app-content></app-content>
<div class="panel">

    <p-sidebar [(visible)]="displayInfo" position="right" styleClass="p-sidebar-md">
        <div class="p-sidebar p-sidebar-active botones"
            style="width: 100% ;background-size: cover; background-image: url(https://static.vecteezy.com/system/resources/previews/001/338/727/non_2x/blue-binary-cyber-circuit-future-technology-background-vector.jpg);">
            <app-carga [data]="currentData" [exist]="exist"></app-carga>
        </div>
    </p-sidebar>

    <div>
        <button type="button" pButton class="p-button-text" (click)="displayInfo = true" icon="pi pi-plus"
            style="display: flex;color: rgb(0, 255, 0); margin: auto;justify-content: center;" label="Agregar Info"
            (click)="setButton()"></button>
        <p-scrollPanel [style]="{width: '14vmax', height: '86vh'}">
            <div class="space">
                <ul style="padding: 1%;">
                    <li style="list-style: none; display: flex; margin: auto; justify-content: center;"
                        *ngFor="let data of datas">
                        <button style="color: gold;" type="button" class="p-button-text" pButton [label]="data?.titulo"
                            (click)="showInfo(data.id, data.titulo, data.content, data.id_tipo)"></button>
                    </li>
                </ul>
            </div>
        </p-scrollPanel>
    </div>

    <div class="allText" style="text-align: center; width: 100vmax;  backdrop-filter: brightness(55%);">
        <div *ngIf="buttons" style="display: flex; justify-content: space-around; margin-top: 3%;">
            <button pButton pRipple type="button" label="Editar" class="p-button-warning p-button-text"
                (click)="displayInfo = true"
                icon="pi pi-th-large"></button>
            <button pButton pRipple type="button" label="Borrar" icon="pi pi-trash"
                class="p-button-danger p-button-text" (click)="borrar()"></button>
        </div>
        <h1 [innerHTML]="currentTitle | safe: 'html'"></h1>
        <p [innerHTML]="currentContent | safe: 'html'"></p>
    </div>

</div>