<app-content></app-content>
<div class="panel">

    <div>
        <p-scrollPanel [style]="{width: '15vmax', height: '87vh'}">
            <div class="space">
                <ul style="padding: 1%;">
                    <li style="list-style: none" *ngFor="let data of datas">
                        <button style="color: white;" [routerLink]="'/preview/' + data.id" routerLinkActive="active" type="button" class="p-button-text" pButton [label]="data?.titulo"></button>
                    </li>
                </ul>
            </div>
        </p-scrollPanel>
    </div>

</div>