.panel {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    margin-top: 1%;
}

.space {
    display: flex;
    flex-direction: column;
    color: white; 
}

.allText {
    display: flex;
    flex-direction: column;
    color: white;
}

h1 {
    text-transform: uppercase;
}

.edit{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

.info {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-size: cover;
    align-items: center;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed
  }