<p-card [style]="{ 'display': 'flex', 'justify-content': 'center', 'width': '360px', 'margin': '0 auto'}">
    
            <h3 style="justify-content: center; display: flex;">Login</h3>
    
    <ng-template pTemplate="content">
        <div class="general">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="usuario">
                <label for="float-input">Usuario</label>
            </span>
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="password">
                <label for="float-input">Contraseña</label>
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div style="justify-content: center; display: flex;">
            <p-button class="boton" label="Ingresar" icon="pi pi-check" (click)="login()"></p-button>
        </div>
    </ng-template>
</p-card>