<p-card header="Login"
    [style]="{ 'display': 'flex', 'justify-content': 'center', 'width': '360px', 'margin': '0 auto', 'margin-top': '15%'}">
    <ng-template pTemplate="content">
        <div class="general">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="usuario">
                <label for="float-input">Usuario</label>
            </span>
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="password">
                <label for="float-input">Contraseña</label>
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button class="boton" label="Ingresar" icon="pi pi-check" routerLink="/language/angular"
            routerLinkActive="active" (click)="login()"></p-button>
    </ng-template>
</p-card>