<p-dialog [(visible)]="displayModal" [modal]="true"
    [style]="{ 'display': 'flex', 'justify-content': 'center', 'width': '360px', 'margin': '0 auto'}"
    [draggable]="false" [resizable]="false" [closable]="false">

    <div>
    <img src={{angular}} [style]="{'width': '150px','height': '150px','display': 'flex', 'justify-content': 'center', 'margin': 'auto' }">
    </div>

    <h3 style="justify-content: center; display: flex;">Register</h3>
    <ng-template pTemplate="content">

        <div class="general">
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [(ngModel)]="email">
                <label for="float-input">Email</label>
            </span>
            <span class="p-float-label">
                <input id="float-input2" type="password" pPassword promptLabel="Ingrese su contraseña" [(ngModel)]="password">
                <label for="float-input2">Contraseña</label>
            </span>
            <span class="p-float-label">
                <input id="float-input2" type="password" pPassword promptLabel="Repita su contraseña" [(ngModel)]="confirmPass">
                <label for="float-input2">Repita su Contraseña</label>
            </span>
        </div>
        
    </ng-template>
    <ng-template pTemplate="footer">
        <div style="justify-content: center; display: flex; margin-top: 15%;">
            <button pButton style="color: green; backdrop-filter: brightness(60%);" type="button" label="Registrarse" class="p-button-text" (click)="signUp()"></button>
            <button pButton style="color: purple; backdrop-filter: brightness(60%);" type="button" [routerLink]="'/login/'" routerLinkActive="active" label="Login" class="p-button-text" ></button>
        </div>
    </ng-template>
</p-dialog>